# Віртуальне середовище (це важить багато і не потрібне на GitHub)
venv/
ENV/
env/
.venv/

# Тимчасові файли Python
__pycache__/
*.py[cod]

# Налаштування редактора
.vscode/
.idea/

# Тимчасові файли системи
.DS_Store